<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="400970673168-ng25fprkq7oltolldefbk4fibtusqjeq.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <title>DDD Productivity</title>
    

    <!-- datetimepicker css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- dataTables css -->
    <link href = "//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"  rel = "stylesheet">

    <style>
        td.details-control {
            background: url('/images/arrow-down-rotate.png') no-repeat center center;
            background-size: 20px 20px;
            cursor: pointer;
        }
        tr.details td.details-control {
            background: url('/images/arrow-down.png') no-repeat center center;
            background-size: 20px 20px;
        }

    </style>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

   

    <!-- Morris Charts CSS -->
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <!-- java script files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/moment/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <!-- dataTables JS -->
    <script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"> </script> 


    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>
    <script src="/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>

     <!-- high charst -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script> 
        var auth2;

        /**
         * Initializes the Sign-In client.
         */
         window.onload = function(){
            console.log("on load called!");
            gapi.load('auth2', function(){
                /**
                 * Retrieve the singleton for the GoogleAuth library and set up the
                 * client.
                 */
                console.log("on load called!");
                auth2 = gapi.auth2.init({
                    client_id: '400970673168-ng25fprkq7oltolldefbk4fibtusqjeq.apps.googleusercontent.com'
                }).then( function(){
                     auth = gapi.auth2.getAuthInstance(); 
                     console.log(auth.isSignedIn.get());
                     if (auth.isSignedIn.get()) {
                        user = auth.currentUser.get(); 

                        email = user.getBasicProfile().getEmail(); 
                        console.log('email');
                        console.log(email);
                         if (email.split('@')[1] != 'digitaldividedata.com') {
                            auth.signOut().then(function () {
                                console.log('User signed out.');
                                window.location.replace("/");
                            });
                        }
                     }
                     else {
                        console.log('replacing...');
                        window.location.replace('/');
                     }
                });

                //Attach the click handler to the sign-in button
                //auth2.attachClickHandler('signin-button', {}, onSuccess, onFailure);
            });
        };
    </script> 

</head>

<body>
    <div id="wrapper">
        <script> 
                $('#logoutLink').click(function(){ 
                    sign_out(); 
                });
                /* sign out the google client and redirect to login page */ 
                function sign_out () {
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(function () {
                      window.location.replace('/'); 
                      console.log('User signed out.');
                    });
                }
                /* return child tables with the tasks */    
                $(document).ready(function(){
            
                });
        </script> 

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; background-color: #415DFB;">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> <img src='/images/ddd_logo5.png'> </a>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li style='cursor: pointer;'>
                            <a id="logoutLink" onclick="sign_out();" style="cursor: poiner;"><i class="fa fa-dashboard fa-fw"></i>  Logout </a>
                        </li>
                        <li>
                            <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i>  Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dashboard fa-fw"></i>  Issue Reporter </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> Productivity Issue Report </h1>
                    <h4> Please fill out the form below to let us know about any bugs or issues you have found in the producitvity dashboard. </h4>

                    <form action="/submit_bug" method="POST"> 
                    <div class="form-group">
                      <label for="email">Issue Subject:</label>
                      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                    <div class="form-group">
                      <label for="email">Issue Description:</label>
                      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                    <div class="form-group">
                      <input type="submit" class="form-control" >  </input> 
                    </div>
                    </form>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    

</body>

</html>
