<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="400970673168-ng25fprkq7oltolldefbk4fibtusqjeq.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" ></script>

    <title>DDD Productivity</title>
    

    <!-- datetimepicker css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- dataTables css -->
    <link href = "//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"  rel = "stylesheet">

    <style>
        td.details-control {
            background: url('/images/arrow-down-rotate.png') no-repeat center center;
            background-size: 20px 20px;
            cursor: pointer;
        }
        tr.details td.details-control {
            background: url('/images/arrow-down.png') no-repeat center center;
            background-size: 20px 20px;
        }

        button.clickerplus{
            background: url('/images/arrow-down-rotate.png') no-repeat center center;
            background-size: 20px 20px;
            cursor: pointer;
        }

    </style>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

   

    <!-- Morris Charts CSS -->
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <!-- java script files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/moment/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <!-- dataTables JS -->
    <script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"> </script> 


    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>
    <script src="/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>

     <!-- high charst -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script> 
       var auth2;
/*         
window.onload = function(){
        console.log("hello!");
        gapi_ready = function(){
            gapi.load('auth2', function(){
            
                 
                 
                console.log("gapi_ready called!");
                auth2 = gapi.auth2.init({
                    client_id: '400970673168-ng25fprkq7oltolldefbk4fibtusqjeq.apps.googleusercontent.com'
                }).then( function(){
                     auth = gapi.auth2.getAuthInstance(); 
                     console.log(auth.isSignedIn.get());
                     if (auth.isSignedIn.get()) {
                        user = auth.currentUser.get(); 

                        email = user.getBasicProfile().getEmail(); 
                        console.log('email');
                        console.log(email);
                         if (email.split('@')[1] != 'digitaldividedata.com') {
                            auth.signOut().then(function () {
                                console.log('User signed out.');
                                window.location.replace("/");
                            });
                        }
                     }
                     else {
                        console.log('replacing...');
                        window.location.replace('/');
                     }
                });
            });
        }
    }*/
    </script> 

</head>

<body>

<script> 

</script> 

    <div id="wrapper">


        <script> 

                $('#logoutLink').click(function(){ 
                    sign_out(); 
                });

                
                /* sign out the google client and redirect to login page */ 
                function sign_out () {
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(function () {
                      window.location.replace('/'); 
                      console.log('User signed out.');
                    });
                }



function show_graph(id){

     $('#' + id).prop('checked', true).change();

    pid = id.split("_")[1];
    tid = id.split("_")[2];
    sid = id.split("_")[3]; 

    start_date = $('#datetimepicker6').data("DateTimePicker").date().format('MM/DD/YYYY'); 
    //converted
    end_date = $('#datetimepicker7').data("DateTimePicker").date().add(1, "days").format('MM/DD/YYYY');
    graph_end_date = $('#datetimepicker7').data("DateTimePicker").date().format('MM/DD/YYYY'); 

    var data = {};
    data.pid = pid;
    data.tid = tid;
    data.sid = sid; 
    data.sdate = start_date;
    data.edate = end_date; 

    /* ajax request that gets productivity and target productivity data for the subtask view graph */ 
    $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: '/graph',                      
            success: function(data) {
                            start = data.start_date;
                            //end = data.end_date;
                            end = graph_end_date; 

                            start_yy = Number(start.split('/')[2]);
                            start_dd = Number(start.split('/')[1]);
                            start_mm = Number(start.split('/')[0]);
                            end_yy = Number(end.split('/')[2]);
                            end_dd = Number(end.split('/')[1]);
                            end_mm = Number(end.split('/')[0]);
                            sdate_utc = Date.UTC(start_yy, start_mm - 1, start_dd)
                            edate_utc = Date.UTC(end_yy, end_mm - 1, end_dd)
                            dates_targs = []
                            min_date = 0; 
                            min_targ = 0; 
                            series = []; 
                            if ((data.targets != null) && (data.targets.length != 0)){
                                //console.log("i entered"); 
                                data.targets.forEach(function(target){
                                    d = target.effective_date.split('T')[0];
                                    yy = Number(d.split('-')[0]);
                                    mm = Number(d.split('-')[1]);
                                    dd = Number(d.split('-')[2]);
                                    date = Date.UTC(yy, mm - 1, dd);
                                    if (( date >= sdate_utc) && (date <= edate_utc) ) {
                                        dates_targs.push([date, target.target_productivity]);
                                    }
                                    else {
                                        if (date > min_date){ 
                                            min_date = date;
                                            min_targ = target.target_productivity;
                                        }
                                    }
                                });

                                if (dates_targs.length === 0){
                                    dates_targs.push([sdate_utc, min_targ]);
                                    dates_targs.push([edate_utc, min_targ]); 

                                }
                                series.push({
                                    name: "Target Productivity",
                                    data: dates_targs
                                });
                            }
                            var prod_dates = data.prods.map(function(x){
                                d = x.date.split('T')[0];
                                yy = Number(d.split('-')[0])
                                mm = Number(d.split('-')[1])
                                dd = Number(d.split('-')[2])
                                return [Date.UTC(yy, mm - 1, dd), x.productivity];
                            });

                            series.push({
                                    name: 'Productivity',
                                    data: prod_dates
                            }); 

                            graph_id = 'g_' + pid + '_' + tid + '_' + sid; 
                            Highcharts.chart(graph_id, {
                                chart: {
                                    spacingBottom: 50,
                                    spacingTop: 50

                                },

                                title: {
                                    text: 'Daily Productivity'
                                },
                                xAxis: {
                                    type: 'datetime', 
                                    dateTimeLabelFormats: {
                                        month: '%e. %b', 
                                        year: '%b'
                                    }, 
                                    title: {
                                        text: 'Date'
                                    },
                                    min: sdate_utc,
                                    max: edate_utc
                                },
                                yAxis: {
                                    title: {
                                        text: 'Productivity (Units / Hour) '
                                    },
                                    min: 0
                                },
                                tooltip: {
                                    pointFormat: '{series.name}: <b> {point.y}'

                                }, 
                                legend: {
                                    layout: 'vertical',
                                    align: 'right',
                                    verticalAlign: 'middle'
                                },

                                plotOptions: {
                                    spline: {
                                        marker: {
                                            enabled: true 
                                        }
                                    }
                                },
                                series: series
                            });



            }   
    }); 

}
            $(document).ready(function(){

                $(".clickerplus").click(function(){
                      // Holds the product ID of the clicked element
                      console.log("clicker plus click");
                      
                });

                console.log("document ready auth ")
                gapi.load('auth2', function() {
                    gapi.auth2.init().then(
                        function(auth2){
                            console.log("inside then:")
                            console.log(auth2.isSignedIn.get());

                            if (auth2.isSignedIn.get()) {
                              var profile = auth2.currentUser.get().getBasicProfile();
                              console.log('ID: ' + profile.getId());
                              console.log('Full Name: ' + profile.getName());
                              console.log('Given Name: ' + profile.getGivenName());
                              console.log('Family Name: ' + profile.getFamilyName());
                              console.log('Image URL: ' + profile.getImageUrl());
                              console.log('Email: ' + profile.getEmail());
                            }
                            else {
                                console.log("no one signed in right now.")
                                window.location.replace('/');
                            }

                        });
                    //auth = auth2.getAuthInstance();

                    
                }); 

                /* projects object containing subtasks and tasks in object */ 
                /* make json object */ 
                var projs = <%-JSON.stringify(projects)%>
                var comments = <%-JSON.stringify(comments)%>
                console.log("comments:")
                console.log(comments)



                                /* return child tables with the tasks */ 
                function format ( d ) {
                    //console.log("D.tasks:");
                    //console.log(d.tasks);
                    auth = gapi.auth2.getAuthInstance(); 
                    console.log(auth.isSignedIn.get());
                     if (auth.isSignedIn.get()) {
                        user = auth.currentUser.get(); 
                        console.log("user signed in")

                        email = user.getBasicProfile().getEmail(); 
                        console.log("email:")
                        console.log(email)
                    }
                    pid = d.project_id
                    console.log("PID:")
                    console.log(pid)
                    var this_comments = comments.filter(function( obj ) {
                            return obj.project_id == pid;
                    });
                    html = "<h5> <b> Project Comments </b> </h5>"
                    this_comments.forEach(function(commentary){
                        html = html + " <h6> <b> User: </b> " + commentary.email + " &nbsp " + " <b> Comment: </b> " + commentary.commentary + "&nbsp " + " <span style='float: right;'><b> Date: </b> " + commentary.created + " </span> </h6> "

                    }); 

                    html = html + "<form action='/submit_comment' method='POST' class='form-inline'><label class='sr-only' for='inlineFormInput'>Name</label><input type='text' class='form-control mb-2 mr-sm-2 mb-sm-0' id='inlineFormInput' name='comment' placeholder='Write a comment here...'></input> <input type='hidden' name='email' value='" + email + "'> </input>"
                    html = html + "<input type = 'hidden' name='pid' value = '" + pid + "' > </input> "
                    html = html + " <button type='submit'class='btn btn-primary'>Submit</button> </form>"


                    html = html + " <br> "

                    

                    

                    
                    html = html + '<table class="table table-condensed" style="border-collapse:collapse;">'
                                              +'<thead><tr><th>&nbsp;</th><th>Task</th><th>Number of Subtasks that Met '
                                              +'Productivity Target</th><th>Number of Subtasks</th><th> Score (%) </th></'
                                              + 'tr></thead>'
                                              
                                              +'<tbody>'
                    /* iterate through tasks of the project */ 
                    d.tasks.forEach( function(task, index) { 
                        if (task.subtasks == null || task.subtasks.length == 0 ) {
                            html = html + '<tr data-toggle="collapse" data-target="#subdemo' + index+'_' + d.project_id + '" class="accordion-toggle">' +
                                                        '<td><button style="display: none;" class="btn btn-default btn-xs"><span class="details-control"></span></button></td>'
                                                        + '<td>' + task.task_name  + '</td> <td>No productivity data</td><td></td><td></td></tr>'
                        } 
                        else {
                            html = html + '<tr data-toggle="collapse" data-target="#subdemo' + index + '_' + d.project_id +'" class="accordion-toggle"'
                            if (task.score < 60) {
                                html = html + 'style="background-color: #F9867D; "'
                            } else if (task.score >= 60 && task.score < 80){
                                html = html +  'style="background-color: #FAF9BF;"'
                            } else if (task.score >= 80) {
                                html = html + 'style="background-color: #AEE3C2;"' 
                            } 
                            html = html + '><td><button class="btn clickerplus" ></button></td>'
                                + '<td>' + task.task_name + '</td><td>' + task.num_subtasks_met + '</td><td>' + task.num_subtasks + '</td><td>' +  task.score + ' % </td></tr>'
                                + '<tr> <td colspan="10" class="hiddenRow"><div class="accordian-body collapse" id="subdemo' + index + '_' + d.project_id + '">'
                                        + '<table class="table" style="border-collapse:colapse;">'
                                               + '<thead> <tr><th>Subtask</th> <th> Target Productivity </th> <th> Productivity </th> <th> % Deviance </th> <th> View </th> </tr> '
                                               +'</thead> <tbody>'

                                                    /* iterate through the subtasks of the task */ 
                                                    task.subtasks.forEach(function(subtask, subtask_i){ 
                                                        console.log("Subtask:");
                                                        console.log(subtask);
                                                        if (subtask.productivity >= subtask.target_productivity){
                                                            html = html + '<tr style="background-color: #AEE3C2;" data-toggle="collapse" id = "dd_' + d.project_id + '_' + task.task_id + '_' + subtask.subtask_id + '" onclick="show_graph(this.id)" data-target="#graph_' + d.project_id + '_' + task.task_id + '_' + subtask.subtask_id + '" class = "accordian-toggle">'
                                                        }
                                                        else if (subtask['total_duration(hrs)'] == 0 || subtask['target_productivity'] == null) {
                                                            html = html + '<tr id = "dd_' + d.project_id + '_' + task.task_id + '_' + subtask.subtask_id + '" " data-target="#graph_' + d.project_id + '_' + task.task_id + '_' + subtask.subtask_id + '" class = "accordian-toggle">'
                                                        }
                                                        else {
                                                            html = html + '<tr style="background-color: #F9867D; " data-toggle="collapse" id = "dd_' + d.project_id + '_' + task.task_id + '_' + subtask.subtask_id + '" onclick="show_graph(this.id)" data-target="#graph_' + d.project_id + '_' + task.task_id + '_' + subtask.subtask_id + '" class = "accordian-toggle">'
                                                        }
                                                        html = html + '<td>' + subtask.subtask_name +'</td>' 
                                                        if (subtask.target_productivity != null) { 
                                                            var established_date = moment(subtask.effective_date).format('YYYY-MM-DD');
                                                            console.log(established_date);

                                                            html = html + '<td>' + subtask.target_productivity +' <span style="font-size: 13px;">(set: ' + moment(subtask.effective_date).format('YYYY-MM-DD') +')</span> </td>'; 
                                                        } else { 
                                                            html = html + '<td> No target productivity data </td>' 
                                                        }
                                                        if (subtask.productivity != null && subtask['total_duration(hrs)'] != 0 ){
                                                            html = html + '<td>' + subtask.productivity + '</td>'
                                                        } else {
                                                            html = html + '<td>No Productivity Data </td>'

                                                        }
                                                        
                                                        if (subtask.target_productivity == null || subtask.target_productivity == 0 ) {
                                                            html = html + '<td> N/A </td>'
                                                            html = html + '<td>' + '<span style="cursor: pointer;" class="glyphicon glyphicon-stats"></span></td></tr>';
                                                             html = html + '<tr style="text-align: center;"> <td colspan="10" class="hiddenRow" style="margin-auto; text-align: center"> <div sytle="margin: auto; text-align: center" class = "accordian-body collapse" id="graph_' + d.project_id + '_' + task.task_id + '_' + subtask.subtask_id + '" > <div colspan="10" id ="g_' + d.project_id + '_' + task.task_id + '_' + subtask.subtask_id + '" style="margin: auto; text-align: center" > </div> </td></tr>'

                                                        } 
                                                        else { 
                                                            deviance = ((subtask.productivity - subtask.target_productivity ) / subtask.target_productivity ) * 100;
                                                            html = html + '<td>' + deviance.toFixed(2) + '</td>' 
                                                            url = '/subtask?sid=' + subtask.subtask_id + '&tid='
                                                            html = html + '<td>' + '<span style="cursor: pointer;" class="glyphicon glyphicon-stats"></span></td></tr>';
                                                            html = html + '<tr style="text-align: center;"> <td colspan="10" class="hiddenRow" style="margin-auto; text-align: center"> <div sytle="margin: auto; text-align: center" class = "accordian-body collapse" id="graph_' + d.project_id + '_' + task.task_id + '_' + subtask.subtask_id + '" > <div colspan="10" id ="g_' + d.project_id + '_' + task.task_id + '_' + subtask.subtask_id + '" style="margin: auto; text-align: center" > </div> </td></tr>'
                                                            //html = html + "$('#dd_" + d.project_id + "_" + task.task_id + "_" + subtask.subtask_id + "').on('show.bs.collapse', show_graph(5));"
                                                        } 
                                                        //html = html + ''
                                                    }); 
                                                html = html +' </tbody> </table> </div> </td> ' +'</tr>'
                                                 
                            }  
                        });
                                            
                        html = html + '</tbody></table>';
                        //console.log('html: '); 
                        //console.log(html); 
                        return html; 
                }



                /* make the score display in only 2 decimals */ 
                projs = projs.map(function(project){
                    if (project['score'] != null){
                        project['score'] = project['score'].toFixed(2);
                    }
                    return project; 
                });
                /* creates the big data table */ 
                var dt = $('#projtbl').DataTable( {
                        "pageLength": 50,
                        "processing": false,
                        "serverSide": false,
                        "aaData": projs,
                        "createdRow": function( row, data, dataIndex ) {
                                    if ( data["score"] < 60) {
                                            $( row ).css( "background-color", "#F9867D" );
                                    }
                                    if ((data['score'] >= 60) && (data['score'] < 80)) {
                                        $( row ).css( "background-color", "#FAF9BF" );
                                    }
                                    if (data['score'] >= 80){
                                        $( row ).css( "background-color", "#AEE3C2" );
                                    }
                                    if (data['score'] == null){
                                        $( row ).css( "background-color", "white" );
                                    }
                        },   

                        "columns": [
                        {
                            "class":          "details-control",
                            "orderable":      false,
                            "data":           null,
                            "defaultContent": ""
                        }, 
                        { "data": "project_name" },
                        { "data": "office" },
                        {"data": "num_subtasks_met"},
                        {"data": "num_subtasks"},
                        { "data": "score" }]
                } );

                /* creates select statement for table header --> so that you can select by project and by office */ 
                $("#projtbl thead th").each( function ( i ) {

        
                    if (($(this).text() !== '') && (($(this).text() == 'Project') || $(this).text() == 'Office')) {
                        var isStatusColumn = (($(this).text() == 'Project  ') ? true : false);
                        var select = $('<select><option value="">' + $(this).text() + '</option></select>')
                            .appendTo( $(this).empty() )
                            .on( 'change', function () {
                                var val = $(this).val();
                                
                                dt.column( i )
                                    .search( val ? '^'+$(this).val()+'$' : val, true, false )
                                    .draw();
                            } );
                        
                        // Get the Status values a specific way since the status is a anchor/image
                        if (isStatusColumn) {
                            var statusItems = [];
                            dt.column( i ).nodes().to$().each( function(d, j){
                                var thisStatus = $(j).attr("data-filter");
                                if($.inArray(thisStatus, statusItems) === -1) statusItems.push(thisStatus);
                            } );
                            
                            statusItems.sort();
                                            
                            $.each( statusItems, function(i, item){
                                select.append( '<option value="'+item+'">'+item+'</option>' );
                            });

                        }
                        // All other non-Status columns (like the example)
                        else {
                            dt.column( i ).data().unique().sort().each( function ( d, j ) {  
                                select.append( '<option value="'+d+'">'+d+'</option>' );
                            } );    
                        }
                        
                    }
                }); 


                var detailRows = [];
                
                /* makes the table clickable and calls the format function with the data for each row when you click */ 
                $('#projtbl tbody').on( 'click', 'tr td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = dt.row( tr );
                    var idx = $.inArray( tr.attr('id'), detailRows );
                    //console.log("row data score", row.data()['score']);
                    if (row.data()['score'] != null){
                        if ( row.child.isShown() ) {
                            tr.removeClass( 'details' );
                            row.child.hide();
     
                                // Remove from the 'open' array
                            detailRows.splice( idx, 1 );
                        }
                        else {
                                tr.addClass( 'details' );
                                row.child( format( row.data() ) ).show();
 
                                // Add to the 'open' array
                                if ( idx === -1 ) {
                                    detailRows.push( tr.attr('id') );
                                }
                            }
                    }
                } );
 
                // On each draw, loop over the `detailRows` array and show any child rows
                dt.on( 'draw', function () {
                    $.each( detailRows, function ( i, id ) {
                        $('#'+id+' td.details-control').trigger( 'click' );
                    } );
                } );
            });
        </script> 

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; background-color: #337ab7;">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> <img src='/images/ddd_logo5.png'> </a>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li style='cursor: pointer;'>
                            <a id="logoutLink" onclick="sign_out();" style="cursor: poiner;"><i class="fa fa-dashboard fa-fw"></i>  Logout </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dashboard fa-fw"></i>  Dashboard</a>
                        </li>
                        <li>
                            <a href="/bug_reporter"><i class="fa fa-dashboard fa-fw"></i>  Issue Reporter </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> Productivity Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= active_count %></div>
                                    <div>Currently Active Projects</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= fiscal_count %></div>
                                    <div>Projects This Fiscal Year </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class= "row">
                <form class="form" action="/dashboard" method='GET'> 
                    <div class='col-md-6'>
                        <div class="form-group">
                                <label for="sel1"><h3> View: </h3></label>
                                <select class="form-control" id="sel1" name="sel1">
                                    <option value="active">Currently Active Projects</option>
                                    <option value="fiscal" <% if (fiscal_selected === true) { %> selected <% } %> > Active Projects This Fiscal Year</option>
                                    <option value="all" <%  if (all_selected === true) { %> selected <% } %> >All Projects</option>
                                </select>
                        </div>
                    </div>
                     <div class= 'col-md-12'>
                    <h3> Date Range: </h3>
                    <p> (Default: past 30 days) </p>
                    <div class='col-md-3'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker6'>
                                <input id = "date1" name="date1" type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class = 'col-md-3'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker7'>
                                <input id = "date2" name= "date2" type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            
                        </div>
                    </div>
                    <div class = 'col-md-3'>
                        <button class="btn btn-primary">Update</button>
                    </div>

                    </form>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {

                    var tpl_start = '<% if(locals.start_date){ %>st defined<% }else{ %>st undefined<% } %>';
                    var tpl_end = '<% if(locals.end_date){ %>end defined<% }else{ %>end undefined<% } %>';
                    var start = '<%-JSON.stringify(start_date)%>';
                    var end = '<%-JSON.stringify(end_date)%>';
                    
                    var ending = moment(); 
                    var starting = moment().subtract(30, 'days');
                    if (tpl_start == 'st defined'){ 
                        starting = moment(start); 
                    }
                    if (tpl_end == 'end defined'){
                        ending = moment(end); 
                    }

                    $('#datetimepicker6').datetimepicker({
                            defaultDate: starting,
                            format: 'MM/DD/YYYY'
                        });
                    $('#datetimepicker7').datetimepicker({
                            defaultDate: ending,
                            format: 'MM/DD/YYYY'
                    });
                    $("#datetimepicker6").on("dp.change", function (e) {
                        $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                    });
                    $("#datetimepicker7").on("dp.change", function (e) {
                        $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                    });
                });

                function submitDate() {
                    start_date = $('#datetimepicker6').data("DateTimePicker").date(); 
                    end_date = $('#datetimepicker7').data("DateTimePicker").date();
                    start_date_string = start_date.format('MM/DD/YYYY');
                    end_date_string = end_date.format('MM/DD/YYYY');
                };
            </script>
            <div class = "row">
                <div class="col-lg-11" style = "margin:20px;">

                    <!--table class="table table-striped " style="border-collapse:collapse;"-->
                    <table id="projtbl" class="table table-striped stripe hover row-border" >
                    <thead>
                        <tr>
                            <th></th>
                            <th>Project</th>
                            <th>Office</th>
                            <th> Number of Subtasks that Met Productivity Target </th>
                            <th> Number of Subtasks </th>
                            <th> Health Score (%) </th>
                        </tr>
                    </thead>

                    <tfoot>
                    <tr>
                            <th></th>
                            <th>Project</th>
                            <th>Office</th>
                            <th> Number of Subtasks that Met Productivity Target </th>
                            <th> Number of Subtasks </th>
                            <th> Score (%) </th>
                    </tr>
                    </tfoot>
                    <tbody> 
                        
                    </tbody>
                </table>
                </div>

            </div>
            <!-- /.row -->
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    

</body>

</html>
