<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DDD Productivity</title>

    <!-- datetimepicker css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <!-- java script files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/moment/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>
    <script src="/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>


    
    
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; background-color: #415DFB;">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> <img src='/images/ddd_logo5.png'> </a>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-dashboard fa-fw"></i>  Dashboard</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> Productivity Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= active_count %></div>
                                    <div>Currently Active Projects</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= fiscal_count %></div>
                                    <div>Projects This Fiscal Year </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row">
                    <div class='col-md-6'>
                        <div class="form-group">
                                <label for="sel1"><h3> View: </h3></label>
                                <select class="form-control" id="sel1">
                                    <option>Currently Active Projects</option>
                                    <option>Fiscal Year Projects</option>
                                    <option>All Projects</option>
                                </select>
                        </div>
                    </div>
            </div>
            <div class= "row">
                    <div class= 'col-md-12'>
                    <h3> Date Range: </h3>
                    <p> (Default: past 30 days) </p>
                    <div class='col-md-3'>
                        
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker6'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class = 'col-md-3'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker7'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
            
                    </div>
                    </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker6').datetimepicker({
                        defaultDate: moment().subtract(30, 'days'),
                        format: 'MM/DD/YYYY'
                    });
                    $('#datetimepicker7').datetimepicker({
                        defaultDate: moment(),
                        format: 'MM/DD/YYYY',
                        useCurrent: false //Important! See issue #1075
                    });
                    $("#datetimepicker6").on("dp.change", function (e) {
                        $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                    });
                    $("#datetimepicker7").on("dp.change", function (e) {
                        $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                    });
                });
            </script>
            
            



            <div class = "row">
                <div class="col-lg-12">

                    <table class="table table-condensed " style="border-collapse:collapse;">

                    <thead>
                        <tr><th>&nbsp;</th>
                            <th>Project </th>
                            <th>Office</th>
                            <th> Number of Subtasks that Met Productivity Target </th>
                            <th> Number of Subtasks </th>
                            
                            <th> Score (%) </th>
                        </tr>
                    </thead>

                    <tbody>
                        <% 
                                var names = [];
                                for (var i = 0; i < projects.length; i++) { 


                                    


                                    %>
                                <tr <% if (projects[i].score == null) { %> style="background-color:none;" <% } else if (projects[i].score < 25 ) { %> style="background-color: #F9867D;" <% } else if (projects[i].score >= 25 && projects[i].score < 75) {
                                    %> style="background-color: #FAF9BF;" <% 
                                } else if (projects[i].score >= 75 ){ %> style="background-color: #AEE3C2;" <%

                                }%>
                                data-toggle="collapse" data-target="#demo<%= i %>" class="accordion-toggle">
                                        <% if (projects[i].score != null) { %>
                                            <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                                             
                                        <% } 
                                        else{ %>
                                            <td><button style="display: none;" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                                        <% } %> 
                                        <td><%= projects[i].project_name %></td>
                                        <td><%= projects[i].office %></td>
                                        <% if (projects[i].score == null) { %>
                                             <td> No Productivity Data </td>
                                             <td> No Productivity Data </td>
                                             <td> No Productivity Data </td>
                                        <% }
                                        else { %>
                                        <td><%= projects[i].num_subtasks %></td>
                                        <td><%= projects[i].num_subtasks_met %> </td>
                                        <td><%= projects[i].score %> % </td>

                                        

                                </tr>
                                <tr>
                                    <td colspan="12" class="hiddenRow"><div class="accordian-body collapse" id="demo<%= i %>"> 
                                      <table class="table table-striped" style="border-collapse:collapse;">
                                              <thead>
                                                <tr><th>Task</th><th>Number of Subtasks</th><th>Number of Subtasks that Met Target</th><th> Score</th></tr>
                                              </thead>
                                              <tbody>
                                                <% projects[i].tasks.forEach( function(task) { 
                                                    if (task.subtasks == null || task.subtasks.length == 0 ) {%>
                                                        <tr><td><%= task.task_name %> </td> <td>No productivity data</td><td></td><td></td></tr>
                                                    <% } else {

                                                    %>
                                                <tr><td><%= task.task_name %> </td><td><%= projects[i].office %> </td><td><%= task.num_subtasks %></td><td><%= task.num_subtasks_met %></td><td><%= task.score %> % </td></tr>
                                                
                                                <% }} ); %>
                                            
                                              </tbody>
                                        </table>
                                      
                                      </div> </td>
                                </tr>
                        <% }} %>
                       
                        
                    </tbody>
                </table>

                </div>

            </div>
            <!-- /.row -->
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    

</body>

</html>
