<!DOCTYPE html>
<html>
  <head>
  	<script src="http://code.highcharts.com/highcharts.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
