<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="400970673168-ng25fprkq7oltolldefbk4fibtusqjeq.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <title>DDD Productivity</title>
    

    <!-- datetimepicker css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- dataTables css -->
    <link href = "//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"  rel = "stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

   

    <!-- Morris Charts CSS -->
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <!-- java script files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/moment/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <!-- dataTables JS -->
    <script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"> </script> 


    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>
    <script src="/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>

     <!-- high charst -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

<style>
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
</style>

<script> 
        var auth2;

        /**
         * Initializes the Sign-In client.
         */
         window.onload = function(){
            console.log("on load called!");
            gapi.load('auth2', function(){
                /**
                 * Retrieve the singleton for the GoogleAuth library and set up the
                 * client.
                 */
                console.log("on load called!");
                auth2 = gapi.auth2.init({
                    client_id: '400970673168-ng25fprkq7oltolldefbk4fibtusqjeq.apps.googleusercontent.com'
                }).then( function(){
                     auth = gapi.auth2.getAuthInstance(); 
                     if (auth.isSignedIn.get()) {
                        user = auth.currentUser.get(); 

                        email = user.getBasicProfile().getEmail(); 
                        console.log('email');
                        console.log(email);
                         if (email.split('@')[1] != 'digitaldividedata.com') {
                            auth.signOut().then(function () {
                                console.log('User signed out.');
                            });
                        }
                     }
                });

                //Attach the click handler to the sign-in button
                //auth2.attachClickHandler('signin-button', {}, onSuccess, onFailure);
            });
        };
</script> 

</head>

<body>
    <script> 
    $(document).ready(function() {
      gapi.load('auth2', function() {
                    gapi.auth2.init().then(
                        function(auth2){
                            console.log("inside then:")
                            console.log(auth2.isSignedIn.get());

                            if (auth2.isSignedIn.get()) {
                              var profile = auth2.currentUser.get().getBasicProfile();
                              console.log('ID: ' + profile.getId());
                              console.log('Full Name: ' + profile.getName());
                              console.log('Given Name: ' + profile.getGivenName());
                              console.log('Family Name: ' + profile.getFamilyName());
                              console.log('Image URL: ' + profile.getImageUrl());
                              console.log('Email: ' + profile.getEmail());
                            }
                            else {
                                console.log("no one signed in right now.")
                                window.location.replace('/');
                            }

                        });
                    //auth = auth2.getAuthInstance();

                    
                }); 

  });
</script>

    <div id="loader"></div>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; background-color: #337ab7;">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> <img src='/images/ddd_logo5.png'> </a>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> Productivity Dashboard</h1>
                </div>

                <div class = "col-lg-12">
                <h4> Comment submitted. Thanks! </h4>
                <form action='/dashboard' method='GET'>
                <button type="submit" class = 'btn' id="button1" > Back </button>
                </form>
               

                </div>

                 
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- /.row -->
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    

</body>

</html>
