<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DDD Productivity</title>
    

    <!-- datetimepicker css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- dataTables css -->
    <link href = "//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"  rel = "stylesheet">

    <style>
        td.details-control {
            background: url('/images/arrow-down-rotate.png') no-repeat center center;
            background-size: 20px 20px;
            cursor: pointer;
        }
        tr.details td.details-control {
            background: url('/images/arrow-down.png') no-repeat center center;
            background-size: 20px 20px;
        }
        #container {
            min-width: 310px;
            max-width: 800px;
            height: 400px;
            margin: 0 auto
        }

    </style>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

   

    <!-- Morris Charts CSS -->
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <!-- java script files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/moment/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <!-- dataTables JS -->
    <script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"> </script> 


    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>
    <script src="/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>

    <!-- high charst -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

     


    
    
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; background-color: #415DFB;">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> <img src='/images/ddd_logo5.png'> </a>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-dashboard fa-fw"></i>  Dashboard</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> Productivity Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= active_count %></div>
                                    <div>Currently Active Projects</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= fiscal_count %></div>
                                    <div>Projects This Fiscal Year </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id = "container">
            </div>

            <script>
                var start = <%-JSON.stringify(start_date)%>
                var end = <%-JSON.stringify(end_date)%>
                start_yy = Number(start.split('/')[2]);
                start_dd = Number(start.split('/')[1]);
                start_mm = Number(start.split('/')[0]);
                end_yy = Number(end.split('/')[2]);
                end_dd = Number(end.split('/')[1]);
                end_mm = Number(end.split('/')[0]);
                sdate_utc = Date.UTC(start_yy, start_mm - 1, start_dd)
                edate_utc = Date.UTC(end_yy, end_mm - 1, end_dd)
                console.log("start:");
                console.log(start);
                console.log("end:"); 
                console.log(end); 
                var prods = <%-JSON.stringify(prods)%>
                var targets = <%-JSON.stringify(targets)%>
                dates_targs = []
                min_date = 0; 
                min_targ = 0; 
                console.log("targets before for loop:"); 
                console.log(targets); 
                targets.forEach(function(target){
                    d = target.effective_date.split('T')[0];
                    yy = Number(d.split('-')[0]);
                    mm = Number(d.split('-')[1]);
                    dd = Number(d.split('-')[2]);
                    date = Date.UTC(yy, mm - 1, dd);
                    if (( date >= sdate_utc) && (date <= edate_utc) ) {
                        dates_targs.push([date, target.target_productivity]);
                    }
                    else {
                        if (date > min_date){ 
                            min_date = date;
                            min_targ = target.target_productivity;
                        }
                    }
                });

                if (dates_targs.length === 0){
                    dates_targs.push([sdate_utc, min_targ]);
                    dates_targs.push([edate_utc, min_targ]); 

                }
                var productivities = prods.map(function(x) {return x.productivity});
                var prod_dates = prods.map(function(x){
                    d = x.date.split('T')[0];
                    yy = Number(d.split('-')[0])
                    mm = Number(d.split('-')[1])
                    dd = Number(d.split('-')[2])
                    return [Date.UTC(yy, mm - 1, dd), x.productivity];
                });
                console.log(prod_dates[0]);

                Highcharts.chart('container', {

                        title: {
                            text: 'Daily Productivity'
                        },
                        xAxis: {
                            type: 'datetime', 
                            dateTimeLabelFormats: {
                                month: '%e. %b', 
                                year: '%b'
                            }, 
                            title: {
                                text: 'Date'
                            },
                            min: sdate_utc,
                            max: edate_utc
                        },
                        yAxis: {
                            title: {
                                text: 'Productivity (Units / Hour) '
                            }
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b> {point.y}'

                        }, 
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle'
                        },

                        plotOptions: {
                            spline: {
                                marker: {
                                    enabled: true 
                                }
                            }
                        },

                        series: [{
                            name: 'Productivity',
                            data: prod_dates
                        }, 
                        {
                            name: "Target Productivity",
                            data: dates_targs
                        }]

                });


            </script>

            </div>
           
            
            <!-- /.row -->
            
        </div>
        <!-- /#page-wrapper -->

    <!-- /#wrapper -->

    

</body>

</html>
