<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="400970673168-ng25fprkq7oltolldefbk4fibtusqjeq.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js?onload=gapi_ready" async defer></script>

    <title>DDD Productivity</title>
    

    <!-- datetimepicker css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- dataTables css -->
    <link href = "//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"  rel = "stylesheet">

    <style>
        td.details-control {
            background: url('/images/arrow-down-rotate.png') no-repeat center center;
            background-size: 20px 20px;
            cursor: pointer;
        }
        tr.details td.details-control {
            background: url('/images/arrow-down.png') no-repeat center center;
            background-size: 20px 20px;
        }

        button.clickerplus{
            background: url('/images/arrow-down-rotate.png') no-repeat center center;
            background-size: 20px 20px;
            cursor: pointer;
        }

    </style>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

   

    <!-- Morris Charts CSS -->
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <!-- java script files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/moment/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <!-- dataTables JS -->
    <script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"> </script> 


    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>
    <script src="/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>

     <!-- high charst -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script> 
        var auth2;

        /**
         * Initializes the Sign-In client.
         */
         //window.onload = function(){
        console.log("hello!");
        gapi_ready = function(){
            gapi.load('auth2', function(){
                /**
                 * Retrieve the singleton for the GoogleAuth library and set up the
                 * client.
                 */
                console.log("gapi_ready called!");
                auth2 = gapi.auth2.init({
                    client_id: '400970673168-ng25fprkq7oltolldefbk4fibtusqjeq.apps.googleusercontent.com'
                }).then( function(){
                     auth = gapi.auth2.getAuthInstance(); 
                     console.log(auth.isSignedIn.get());
                     if (auth.isSignedIn.get()) {
                        user = auth.currentUser.get(); 

                        email = user.getBasicProfile().getEmail(); 
                        console.log('email');
                        console.log(email);
                         if (email.split('@')[1] != 'digitaldividedata.com') {
                            auth.signOut().then(function () {
                                console.log('User signed out.');
                                window.location.replace("/");
                            });
                        }
                     }
                     else {
                        console.log('replacing...');
                        window.location.replace('/');
                     }
                });

                //Attach the click handler to the sign-in button
                //auth2.attachClickHandler('signin-button', {}, onSuccess, onFailure);
            });
        };
    </script> 

</head>

<body>
    <div id="wrapper">
        <script>    /* return child tables with the tasks */ 
                
            $(document).ready(function(){


                /* projects object containing subtasks and tasks in object */ 
                /* make json object */ 
                var projs = <%-JSON.stringify(projects)%>

                var high = <%- high %>
                console.log("high: ")
                console.log(high)
                if (high){
                    var projs = projs.filter(function(project) {
                        return project.HEALTH_SCORE >= 90;
                    });

                }
                else {
                    var projs = projs.filter(function(project) {
                        return project.HEALTH_SCORE <= 25;
                    });
                }
                
                console.log("projects: ")
                console.log(projs)
                var dt = $('#projtbl').DataTable( {
                        "paging": false,
                        "processing": false,
                        "serverSide": false,
                        "aaData": projs,
                        "columns": [ 
                        {"data": "project_name" },
                        {"data": "office" },
                        {"data": "num_met_target" },
                        {"data": "num_subtasks"},
                        {"data": "HEALTH_SCORE"}],
                        "order": [[ 4, "asc" ]]
                } );

                var projs = <%-JSON.stringify(projects)%>
                var projs = projs.filter(function(project) {
                        return project.HEALTH_SCORE > 90;
                });
                console.log("projects: ")
                console.log(projs)
                var dt = $('#projtbl2').DataTable( {
                        "pageLength": 15,
                        "processing": false,
                        "serverSide": false,
                        "aaData": projs,
                        "columns": [ 
                        {"data": "project_name" },
                        {"data": "office" },
                        {"data": "num_met_target" },
                        {"data": "num_subtasks"},
                        {"data": "HEALTH_SCORE"}],
                        "order": [[ 4, "desc" ]]
                } );

                /* creates select statement for table header --> so that you can select by project and by office */ 
            });
        </script> 

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; background-color: #337ab7;">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> <img src='/images/ddd_logo5.png'> </a>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-dashboard fa-fw"></i>  Dashboard</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <!-- /.row -->
            <script type="text/javascript">
            </script>
                <div class = "row">
                    <div class = "col-lg-11">
                    <% if (!(high)){%>

                     <h2> Low Health Projects (Health Score <= 25) </h2>
                    <% } else {%> 
                    <h2> High Health Projects (Health Score >= 90) </h2>
                    <% } %>
                    </div>
                   
                </div>
                
                <div class="col-lg-11" style = "margin:20px;">

                    <!--table class="table table-striped " style="border-collapse:collapse;"-->
                    <table id="projtbl" class="table table-striped stripe hover row-border" >
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Office</th>
                                <th> Number of Subtasks that Met Productivity Target </th>
                                <th> Number of Subtasks </th>
                                <th> Health Score (%) </th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th>Project</th>
                                <th>Office</th>
                                <th> Number of Subtasks that Met Productivity Target </th>
                                <th> Number of Subtasks </th>
                                <th> Score (%) </th>
                            </tr>
                        </tfoot>
                        <tbody> 
                        
                        </tbody>
                    </table>  
                </div>

            <!-- /.row -->
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    

</body>

</html>
